<section>
    <div class="container mt-4">
        <div class="raw">
            <div class="col-md-6">
                <h2 class="text-center">Edit Product</h2>
                <Form action="/admin/edit-product/{{product._id}}" enctype="multipart/form-data" method="POST">
                    <label for="">Name</label>
                    <input type="text" name="Name" value="{{product.Name}}" class="form-control">

                     <label for="">Category</label>
                    <input type="text" name="Category" value="{{product.Category}}" class="form-control">

                     <label for="">Price</label>
                    <input type="text" name="price" value="{{product.price}}" class="form-control">

                     <label for="">Description</label>
                    <input type="text" name="Description" value="{{product.Description}}" class="form-control">

                     <label for="">Image</label>
                     <img src="/product-images/{{product._id}}.jpg" class="mt-3" style="height: auto; width:100px" id="imgView" alt="">
                    <input type="file" name="Image"  class="form-control" onchange="viewImage(event)">

                    <button type="submit" class="btn btn-success mt-4">Submit</button>
                </Form>
            </div>
        </div>
    </div>
</section>

<script>
    function viewImage(evenvt){
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>

